.loading {
  margin-top: 50px;
  margin-left: 40px;
}

.bookDetails {
  margin: 70px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.title {
  grid-column: 1 / 3;
  text-align: center;
}

.containerImg {
  display: flex;
  justify-content: flex-end;
}
.bookImg {
  grid-column: 1 / 2;
  max-width: 100%;
  height: auto;
}

.textDetails {
  grid-column: 2 / 3;
  font-size: var(--font-size-details);
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--text-color);
}

a {
  text-decoration: underline;
  color: var(--text-color);
}

.favBtn {
  padding: 10px 20px;
  color: var(--text-color);
  font-size: var(--font-size-p);
  background-color: var(--btn);
  border: 2px solid var(--border);
  border-radius: var(--radius-sm);
  margin-top: 12px;
}

@media (max-width: 700px) {
  .bookDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
