.bookList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.listItem {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .bookList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  .bookList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .bookList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
