.homePage {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 50px;
  margin-left: 40px;
}

.startPage {
  text-align: center;
  margin-top: 100px;
}

.searchList {
  margin: 70px 0px;
}
.loading {
  margin-top: 50px;
  margin-left: 40px;
}
